<!Doctype

@{ 
    SongMethods mySongMethods = new SongMethods();
    string file = @"~\App"

    DataSet ds =
}

<html>
<head>
    <meta name="viewport" content="width=device=width" />
    <script src="~/Scripts/bootstrap.js"></script>
    <link type="text/css" href="~/Content/bootstrap.css"/></a>
    <h2>Hallo inbrekers</h2>
</head>
</html>
