<!DOCTYPE html>
@using System.Data;
@using BasicWebProject.App_Code;

@{ 
    Songclass mySongMethods = Session["playlistClass"] as Songclass;
    string file = Session["file"] as string;
}
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <td>Vul hier de gegevens van een nieuwe song toe:</td>
    <table class="table-bordered">
        <tr>
            <td>Id: </td><td><input type="text" /> </td>
        </tr>
        <tr>
            <td>Artist:</td><td><input type="text" /> </td>
        </tr>
        <tr>
            <td>Title: </td><td><input type="text" /> </td>
        </tr>               
        <tr>
            <td>Year: </td><td><input type="text" /> </td>
        </tr>             
        <tr>
            <td>Genre: </td><td><input type="text" /> </td>
        </tr>
        <tr>
            <td>Time: </td><td><input type="text" /> </td>  
        </tr>
        <tr>
            <td>File: </td><td><input type="text" /> </td>     
        </tr>
        <tr>
        <td><button class="btn">Toevoegen</button></td>
        </tr>
</body>
</html>