<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="header">
        Playlist Muse
    </div>
    <img align="right" src="~/img/muse2.png">
</body>
</html>